@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model NewsSite.WebUi.Models.EditPostViewModel

@{
    ViewData["Title"] = @Localizer["Post edit"];
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>@Localizer["Post edit"] «@Model.Post.Title»</h3>

<script>
    var tags = [];
    var InitTags = [];
</script>

<hr />
<form asp-action="Edit" asp-controller="Admin" enctype="multipart/form-data" method="post" id="FormEdit">
    <div class="panel-body">
        <div class="form-group">
            <input asp-for="@Model.Post.PostId" />

            <div class="form-group">
                <label asp-for="@Model.Post.Title"></label>
                <input asp-for="@Model.Post.Title" class="form-control" />
                <span asp-validation-for="@Model.Post.Title"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Post.Category"></label>
                <select asp-for="@Model.Post.Category.Name"
                        asp-items="@(new SelectList(Model.Categories,"","Name"))" class="form-control"></select>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Post.Description"></label>
                <textarea asp-for="@Model.Post.Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="@Model.Post.Description"></span>
            </div>

            <div class="form-group">
                <label>Upload Image</label>
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-primary btn-file">
                            @Localizer["Browse"] <input type="file" name="uploadedFile" id="imgInp">
                        </span>
                    </span>
                    <input type="text" class="form-control" name="Post.Path" placeholder="@Localizer["Or paste your url"]">
                </div>
                <img id='img-upload' class="img-fluid" src="@Url.Content(Model.Post.Path)" />
            </div>
        </div>

        <div class="form-group">
            <div id="ArrTags" class="form-control"></div>
        </div>

        <input type="text" id="MarkDown">

        <textarea asp-for="@Model.Post.Text" rows="4"></textarea>
        <span asp-validation-for="@Model.Post.Text"></span>

    </div>

    <div class="panel-footer">
        <input type="submit" value="@Localizer["Save"]" class="btn btn-success" onclick="SaveMarkDownText()" />
        <a asp-controller="Post" asp-action="List" class="btn btn-secondary">@Localizer["Cancel"]</a>
    </div>
</form>


@{
    foreach (var item in Model.Post.PostTags.Select(e => e.Tag))
    {
        <script>
        InitTags.push("@item.Name");
        </script>
    }

    foreach (var item in Model.Tags)
    {
        <script>
        tags.push("@item.Name")
        </script>
    }
}


<script>
    var instance = $('#ArrTags').magicSuggest({
        data: tags,
        value: InitTags,
        placeholder: '@Localizer["Write tags here"]'
    });
    var simplemde = new SimpleMDE({
        element: document.getElementById("MarkDown"),
        initialValue: $('#Post_Text').val(),
        insertTexts: {
            horizontalRule: ["", "\n\n-----\n\n"],
            image: ["![](http://", ")"],
            link: ["[", "](http://)"],
            table: ["", "\n\n| Column 1 | Column 2 | Column 3 |\n| -------- | -------- | -------- |\n| Text     | Text      | Text     |\n\n"],
        },
    });
</script>
