@model NewsSite.WebUi.Models.EditPostViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

<link href="~/css/magicsuggest.css" rel="stylesheet" type="text/css">

<script>
    var tags = ["123", "13"];
    var InitTags = [];
</script>

<h2>Редактирование поста «@Model.Post.Title»</h2>
<hr />
@using (Html.BeginForm("Edit", "Admin"))
{

    <div class="panel-body">
        @Html.HiddenFor(m => m.Post.PostId)

        @foreach (var property in ViewData.ModelMetadata.Properties)
        {
            if (property.PropertyName != "PostId")
            {
                <div class="form-group">

                    @ViewData.ModelMetadata.

                    @if (property.PropertyName == "Text")
                    {
                        <input type="text" name="" id="MyID">

                        <script>
                        var simplemde = new SimpleMDE({ element: document.getElementById("MyID") });
                        simplemde.value("@Model.Post.Text");
                        </script>

                        <textarea hidden id="@property.PropertyName" name="@property.PropertyName" class="form-control">

                        </textarea>
                        @*@Html.TextArea(property.PropertyName, null,
                            new { @class = "form-control", rows = 5})*@
                    }
                    else
                    {
                        if (property.PropertyName == "PostTags")
                        {
                            <div id="example" class="form-control"></div>
                            @foreach (var item in @Model.Post.PostTags.Select(e => e.Tag))
                            {
                                <script>
                                   InitTags.push("@item.Name");
                                </script>
                                @*@item.Name.ToUpper()
                                    <div class="badge badge-primary">
                                        <input type="text" name="@item.TagId" value="@item.Name.ToUpper()" class="form-control badge-primary" />
                                    </div>*@
                            }

                        }
                        else
                        {
                            <label>@(property.DisplayName ?? property.PropertyName)</label>
                            <script>
                        console.log("@property.PropertyName");
                            </script>
                            if (property.PropertyName == "Title")
                            {

                                <input type="text" name="Title" value="@Model.Post.Title" id="Title" class="form-control" />
                            }
                            else
                            {
                                @Html.EditorFor(r => @Model.Post.Rating)

                                @Html.TextBox(property.PropertyName, null,
                                                          new { @class = "form-control" })
                            }
                        }
                    }
                    @Html.ValidationMessage(property.PropertyName)
                </div>
            }
        }
    </div>

    <div class="panel-footer">
        <input type="submit" value="Сохранить" class="btn btn-success" onclick="SaveMarkDownText()" />
        <a asp-controller="Post" asp-action="List" class="btn btn-secondary">Отменить</a>
    </div>

}
@foreach (var item in @Model.Post.PostTags.Select(e => e.Tag))
{
    <script>
  InitTags.push("@item.Name");
    </script>
}

@foreach (var item in Model.Tags)
{
    <script>
        tags.push("@item.Name")
    </script>
}
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="~/js/magicsuggest.js"></script>
<script>

    var instance = $('#example').magicSuggest({
        data: tags,
        value: InitTags
    });

    function SaveMarkDownText() {
        $("#Text").val(simplemde.value());
        //console.log($("#Text").val());
    }

</script>
