
@model IEnumerable<NewsSite.Domain.Entities.Post>
@{
    ViewData["Title"] = "Index";

}
<h2><a asp-controller="Post" asp-action="List"> List</a></h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-PostId="@item.PostId">@item.Title</a>
                </td>

                <td>

                    @using (Html.BeginForm("Delete", "Admin"))
                    {
                        @Html.Hidden("PostId", item.PostId)
                        <input type="submit"
                               class="btn btn-default btn-xs"
                               value="Удалить" />
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
