@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using NewsSite.Domain.Entities
@inject SignInManager<User> SignInManager
@{
    Layout = "_Layout";
}
@model NewsSite.WebUi.ViewModel.LoginViewModel


<div class="row">
    <div class="col-lg-6">

        <h4>Use another service to log in.</h4>
        <hr />
        @{
            var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
            if (loginProviders.Count == 0)
            {
                <div>
                    <p>
                        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                        for details on setting up this ASP.NET application to support logging in via external services.
                    </p>
                </div>
            }
            else
            {
                <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in loginProviders)
                            {
                                <button id="@provider.Name" type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                            }
                        </p>
                    </div>
                </form>
            }
        }


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Please sign in</h3>
            </div>
            <div class="panel-body">
                <form method="post" asp-controller="Account" asp-action="Login"
                      asp-route-returnUrl="@Model.ReturnUrl">

                    <fieldset>
                        <div class="form-group">
                            <input asp-for="Email" class="form-control" placeholder="E-mail">
                            <span asp-validation-for="Email"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Password" class="form-control" placeholder="Password">
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="checkbox">
                            <label>
                                <input asp-for="RememberMe"> Remember Me
                            </label>
                        </div>
                        <div class="d-flex justify-content-between">
                            <input class="btn btn-success " type="submit" value="Login">
                            @*<input class="btn btn-primary" asp-action="Register" asp-controller="Account" value="Register" />*@
                            <a asp-controller="Account" asp-action="Register" class="btn btn-primary">Register</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
