@using NewsSite.Views.Manage
@using NewsSite.Domain.Entities
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "~/Views/Manage/_Layout.cshtml";
    ViewData.AddActivePage(ManageNavPages.AllUsers);
}
<br />
<table class="table">
    @foreach (User user in Model)
    {
        <tr>
            <td>
                <div class="text-center">
                    <img src="@Url.Content(@user.UrlImage)" class="fill2" />
                    <p>
                        <label>@user.Likes<i class="fa fa-heart-o"></i></label>
                    </p>
                </div>
            </td>
            <td>
                <a asp-action="UserArticles" asp-controller="Manage" asp-route-userId="@user.Id">@user.Email</a>
            </td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="ChangePassword" asp-route-id="@user.Id">@Localizer["Change password"]</a>
                    <a class="btn btn-sm btn-success" asp-controller="Roles" asp-action="Edit" asp-route-userid="@user.Id">@Localizer["Roles"]</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        @Localizer["Delete"]
                    </button>
                </form>
            </td>
        </tr>
    }
</table>