@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model NewsSite.WebUi.ViewModel.SidePanelViewModel

<!-- Search Widget -->
<form asp-controller="Post" asp-action="Search" method="post">
    <div class="card my-4">
        <h5 class="card-header">@Localizer["Search"]</h5>
        <div class="card-body">
            <div class="input-group">
                <input type="text" name="text" class="form-control" >
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit">@Localizer["Search"]</button>
                </span>
            </div>
        </div>
    </div>
</form>

<!-- Categories Widget -->
<div class="card my-4">
    <h5 class="card-header">@Localizer["Categories"]</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                    @foreach (var link in Model.Categories.Skip(Model.Categories.Count() / 2))
                    {
                        <li><a asp-controller="Post" asp-action="List" asp-route-category=@link asp-route-page="1">@link</a></li>
                    }
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                    @foreach (var link in Model.Categories.Take(Model.Categories.Count() / 2))
                    {
                        <li><a asp-controller="Post" asp-action="List" asp-route-category=@link asp-route-page="1">@link</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="card my-4">
    <h5 class="card-header">
        @Localizer["LatestUpdatePost"]
    </h5>
    <div class="card-body">
        @foreach (var item in Model.Posts)
        {
            <div class="card text-white">
                <div class="fill">
                    <img src="@Url.Content(item.Path)" >
                    <div class="card-img-overlay">
                        <h6 class="card-title">
                            <a asp-controller="Post" asp-action="ShowPost" asp-route-Id="@item.PostId">@item.Title</a>
                        </h6>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
