@using NewsSite.WebUi.HtmlHelpers;
@using NewsSite.WebUi.ViewModel;
@using NewsSite.Domain.Entities;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model NewsSite.WebUi.Models.PostViewModel



@{
    ViewData["Title"] = "ShowPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <!-- Title -->
    <h1 class="mt-4">@Model.Post.Title</h1>

    <!-- Author -->
    <p class="lead">
        @Localizer["by"]
        <a href="#">@Model.User.UserName</a>
        <i class="fa fa-heart-o"></i>
        <span>@Model.User.Likes</span>
    </p>

    <hr>
    <div class="float-right">
        @if (Model.CurrentUserId == Model.Post.UserId || User.IsInRole("admin"))
        {
            <a asp-controller="Admin" asp-action="Edit" asp-route-PostId="@Model.Post.PostId"> @Localizer["Edit"]</a>
        }
    </div>
    <!-- Date/Time -->
    <p>
        @Localizer["Posted on"] @Model.Post.DateChanged.ToString("f")

    </p>
    <hr>

    <!-- Preview Image -->
    <img class="img-fluid rounded" src="@Url.Content(Model.Post.Path)" alt="">

    <hr>

    <!-- Post Content -->
    <p class="lead"><markdown markdown="@Model.Post.Text" /></p>

    <hr>

    @if (TempData["Required field"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["Required field"]
        </div>
    }


    <select id="example" data-id="@Model.Post.PostId">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>

    <!-- Comments Form -->
    <div class="card my-4">
        <h5 class="card-header">@Localizer["Leave a Comment:"]</h5>
        <div class="card-body">
            <form asp-controller="Post" asp-action="AddComment"
                  asp-route-postId="@Model.Post.PostId" asp-route-UserId="@Model.CurrentUserId"
                  method="post">
                <div class="form-group">
                    <textarea name="Text" class="form-control" rows="3"></textarea>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <button type="submit" class="btn btn-primary">@Localizer["Submit"]</button>
                }
                else
                {
                    <p>@Localizer["Please auth for  whtie comment"]</p>
                }
            </form>
        </div>
    </div>


    @foreach (var item in Model.Comments.Where(c => c.ParentId == null))
    {

        User commentUser = @Model.Users.Where(u => u.Id == item.UserId).First();

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2 col-lg-2">
                        <img src="@Url.Content(commentUser.UrlImage)" class="fill2" />

                        <p class="text-secondary text-center"> @item.PostedTime.ToShortTimeString()</p>
                    </div>
                    <div class="col-sm-10 col-lg-10">
                        <p>
                            <a class="float-left" asp-action="Index" asp-controller="Manage"><strong>@commentUser.UserName</strong></a>
                            <span class="float-right">
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <i class="fa fa-heart-o"></i><span>@item.LikeCount</span>
                                }
                                else
                                {
                                    if (Model.Likes.Where(x => x.UserId == Model.CurrentUserId & x.CommentId == item.Id).FirstOrDefault() == null)
                                    {
                                        <a class="like" id="like-@item.Id" onclick="like(@item.Id)">
                                            <i class="fa fa-heart-o "></i>
                                            <span>@item.LikeCount</span>
                                        </a>
                                    }
                                    else
                                    {
                                        <i class="fa fa-heart"></i>
                                        <span>@item.LikeCount</span>

                                    }
                                }
                            </span>
                        </p>
                        <div class="clearfix"></div>
                        <p>@item.Text</p>
                        <p>
                            <a class="float-right btn-sm btn btn-outline-primary ml-2" onclick="ShowCommentInput(@item.Id)"> <i class="fa fa-reply"></i> Reply</a>
                        </p>
                    </div>
                </div>
                @Html.CreateComments(item, @Model)
            </div>
        </div>

        <div class="card my-4" id="@item.Id" style="display:none;">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
                <form asp-controller="Post" asp-action="AddComment" method="post">
                    <input name="postId" value="@item.Post.PostId" />
                    <input name="parentId" value="@item.Id" />
                    <input name="UserId" value="@Model.CurrentUserId" />
                    <div class="form-group">
                        <textarea name="Text" class="form-control" rows="2"></textarea>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <button type="submit" class="btn btn-primary">@Localizer["Submit"]</button>
                    }
                    else
                    {
                        <p>@Localizer["Please auth for  whtie comment"]</p>
                    }
                </form>
            </div>
        </div>
    }
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="~/lib/jquery-bar-rating/jquery.barrating.js"></script>


<script type="text/javascript">
    $(function () {
        $('#example').barrating({
            theme: 'bars-reversed',
            onSelect: function (value, text, event) {
                if (typeof (event) !== 'undefined') {
                    var id = $('#example').data("id");
                    $.post("/Post/SetRating", { id : parseInt(id), value : value }, function (data) {
                        $('#example').barrating('readonly', true);
                        $('select').barrating('set', data);
                    });

                }
            },
            initialRating: @Model.Post.Rating
        });
    });
</script>
@if (User.Identity.IsAuthenticated)
{
    <script>
        $('#example').barrating('readonly', false);
    </script>
}
else
{
    <script>
        $('#example').barrating('readonly', true);
    </script>

}
<script>
    function ShowCommentInput(id) {
        $("#" + id).toggle();
    }


</script>
