@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Identity
@using NewsSite.Domain.Entities
@inject IViewLocalizer Localizer
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -@Localizer["Header"]</title>

    @*<environment include="Staging,Production">*@
    <link rel="icon" type="image/png" href="~/favicon.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
    <link href="~/lib/jquery-bar-rating/dist/themes/bars-reversed.css" rel="stylesheet" />
    @*</environment>*@
    @*<environment exclude="Development">

           // <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>*@

</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" asp-action="List" asp-controller="Post">@Localizer["Header"]</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    @if (User.Identity.IsAuthenticated)
                    {

                        <a asp-controller="Manage" asp-action="Index" class="nav-link">@User.Identity.Name </a>

                        <form method="post" asp-controller="Account" asp-action="LogOff">
                            <button type="submit" class="btn btn-light btn-sm">
                                <span class="fa fa-sign-out"></span> @Localizer["Exit"]
                            </button>
                        </form>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a asp-controller="Account" asp-action="Login" class="nav-link">@Localizer["Login"]</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Account" asp-action="Register" class="nav-link">@Localizer["Register"]</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="Main">
        <div class="container">
            <div class="row">
                <div id="posts" class="col-lg-8">
                    @RenderBody()
                </div>
                <div id="tags" class="col-lg-4">
                    @await Component.InvokeAsync("NavTags")
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="py-3 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">

                </div>
                <div class="col-lg-4 ">
                    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
                </div>
                <div class="col-lg-4">
                    <div class="float-right">
                        @await Html.PartialAsync("_SelectLanguagePartial")
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <environment include="Development">

        @*<script src="~/lib/jquery/dist/jquery.js"></script>*@
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
