@using NewsSite.WebUi.Models.ManageViewModels
@using NewsSite.Domain.Entities
@using Microsoft.AspNetCore.Identity
@using NewsSite.Views.Manage
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject SignInManager<User> SignInManager

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a asp-action="Index" asp-controller="Manage" class="@ManageNavPages.IndexNavClass(ViewContext)">@Localizer["Profile"]</a>
    </li>
    <li class="nav-item">
        <a asp-action="UserArticles" asp-controller="Manage"
           class="@ManageNavPages.IndexListPost(ViewContext)">@Localizer["Articles"]</a>
    </li>
    <li class="nav-item">
        <a asp-action="ChangePassword" asp-controller="Manage"
           class="@ManageNavPages.ChangePasswordNavClass(ViewContext)">@Localizer["Password"]</a>
    </li>

    @if (User.IsInRole("admin"))
    {
        <li class="nav-item">
            <a asp-action="Index" asp-controller="Users" class="@ManageNavPages.IndexAllUsers(ViewContext)">@Localizer["List of users"]</a>
        </li>
        <li class="nav-item">
            <a asp-action="Index" asp-controller="Roles" class="nav-link">@Localizer["Roles"]</a>
        </li>
    }

</ul>

