
@model NewsSite.Domain.Entities.Post;
@using NewsSite.WebUi.HtmlHelpers;

<div class="card">
    <div class="card-header">
        <h1><a asp-controller="Post" asp-action="ShowPost" asp-route-Id="@Model.PostId">@Model.Title.ToUpper()</a></h1>
    </div>
    <div class="card-body">
        @Model.Description
        <br />
        <br />

        @foreach (var item in @Model.PostTags.Select(e => e.Tag))
        {
            <div class="badge badge-primary">
                @item.Name.ToUpper()
            </div>
        }

    </div>
</div>